body {
  /*background-color: powderblue;*/
  background-image: url('html folder/images.jfif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  color: blue;
}
p {
  color: red;
}
table {
  border: 5px double black;
  font-size : 30px;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  /*border-style:solid;*/
  padding-top:12px;
  padding-left:13px;
  padding-bottom:12px;
  padding-right:13px;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
.class{
  background-color: rgb(55, 113, 163);
  color: white;
  padding: 10px;
} 

